<a href="https://colab.research.google.com/github/forvaidya/teaching/blob/master/Copy_of_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

##Scalar Context
+ String

+ integer
+ float
+ Bool
+ None

#Built In functions
https://docs.python.org/3/library/functions.html

In [ ]:
# String
name = "RauhlFandhi"
name

In [ ]:
name.upper() #Use of String Function

In [ ]:
len(name)

In [ ]:
name[2:-3]  #Slice Example

In [ ]:
#Bool example
theory = True
practical = True
theory and practical

In [ ]:
theory or practical

In [ ]:
theory = False

In [ ]:
theory or practical

In [ ]:
theory and practical

##Operators on String

In [ ]:
fname = "Iswari"
lname = "Vaidya"

In [ ]:
fname + lname

In [ ]:
fname + '.' + lname

In [ ]:
fullname = fname + '.' + lname
fullname.split(r'.')

## Multiplication Operator on String
It prints string N times


```
"xxx" * 3 # Becomes 
xxxxxxxxx # This..

```
# This is formatted as code
```


```

In [ ]:
marker="-#-"
marker

In [ ]:
marker * 3

In [ ]:
10%5

In [ ]:
10%3

# Operators on integers and float
Python have all basic operators, few special operators discussed below.


*   and, or, not
*   // - Floor division
*   ^ - exclusive or'
*   % - Modulus

** some operators may not work on float alike

# **|** 
Bit Wise or operator

```
example if 8 is represented as 1000
and 4 is represented as 100
then 

100 | 1000 => 1100
~ 12
```

In [ ]:
8 | 8

In [ ]:
8 ^ 4

In [ ]:
bin(4)

In [ ]:
bin(5)

In [ ]:
8 & 5

In [ ]:
7 ^ 3

In [ ]:
%who

In [ ]:
(7 | 3) | (7 | 3)

#List Context
+ List (aka Array)
+ Tuple
+ Set

In [ ]:
data = [1,4,5,6,78]

In [ ]:
data[4] = 44
data

In [ ]:
tdata = tuple(data)
tdata

In [ ]:
xyz=[1,1,3,4,5,66,66, 7,4,5,4]
xyz

In [ ]:
sxyz = set(xyz)

In [ ]:
sxyz

In [ ]:
sabc=set([1,444,55,66])
sabc

In [ ]:
sabc.union(sxyz)

In [ ]:
data

In [ ]:
for item in data:
  print(f"seen {item * item}")

**List Comprehension **

In [ ]:
sq_data = [item * item for item in data ]

In [ ]:
sq_data

In [ ]:
data.append(sq_data)

In [ ]:
data

In [ ]:
data=list(range(4,6))
data

In [ ]:
data2=list(range(78,86))
data2

In [ ]:
data.extend(data2)
data
len(data)

In [ ]:
sorted(data)

# Dictionary / HAsh

In [ ]:
xyz = {}

In [ ]:
xyz['KA'] = 'Karnataka / Yeddi'

In [ ]:
xyz['MH'] = 'Maharashtra @@@ Uddhav'
xyz['TS'] = 'Telangana  $$$ TSR Rao'

In [ ]:
xyz

In [ ]:
for item in xyz.keys() :
  print(f"Value is {xyz[item]}")

In [ ]:
xyz.items()

In [ ]:
for ii in xyz.items() :
  print(ii)

In [ ]:
data = [1,1,1,3,3,67,34,3,2,1]
data
outdict = {}
for item in data :
  try :
    outdict[item] += 1
    print(f"Repeat Entry:: {outdict}")
  except:   
    outdict[item] = 1
    print(f"New Entry:: {outdict}")

outdict

In [ ]:
outdict.clear()
outdict

# Functions

In [ ]:
def fereq_count(input):
  f_out = {}
  for item in input :
    try :
      f_out[item] += 1
    except :
      f_out[item] = 1
  return f_out

In [ ]:
print(fereq_count([1,1,1,3,4,4,4,4,4,4,4]))

In [ ]:
print(fereq_count([1,1,1,3]))

In [ ]:
fereq_count

In [ ]:
name

In [ ]:
fq=fereq_count

In [ ]:
fq([1,1,1,11,1,111,1,1,11,11,])

In [ ]:
fereq_count([1,1,1,11,1,111,1,1,11,11,])

In [ ]:
fereq_count=None

In [ ]:
def DecimalToBinary(num): 
    print(f"In Function NUM is {num}")
    if num > 1: 
        DecimalToBinary(num // 2) 
    print(num % 2, end = '')

In [ ]:
DecimalToBinary(127)

In [ ]:
aar = list(range(10,17))
aar

In [ ]:
def genSq(my_arr):
  for item in my_arr:
    yield item * item

In [ ]:
test1 = genSq([1,3,5,6,7])

In [1]:
for item in test1 :
  print(item)

NameError: ignored

In [10]:
hx_map = {}
hx_map[0]='0'
hx_map[1]='1'
hx_map[2]='2'
hx_map[3]='3'
hx_map[4]='4'
hx_map[5]='5'
hx_map[6]='6'
hx_map[6]='6'
hx_map[7]='7'
hx_map[8]='8'
hx_map[9]='9'
hx_map[10]='a'
hx_map[11]='b'
hx_map[12]='c'
hx_map[13]='d'
hx_map[14]='e'
hx_map[15]='f'

hx_map

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9',
 10: 'a',
 11: 'b',
 12: 'c',
 13: 'd',
 14: 'e',
 15: 'f'}

In [27]:
def dec2hx (num):
  hx_map = {}
  hx_map[0]='0'
  hx_map[1]='1'
  hx_map[2]='2'
  hx_map[3]='3'
  hx_map[4]='4'
  hx_map[5]='5'
  hx_map[6]='6'
  hx_map[6]='6'
  hx_map[7]='7'
  hx_map[8]='8'
  hx_map[9]='9'
  hx_map[10]='a'
  hx_map[11]='b'
  hx_map[12]='c'
  hx_map[13]='d'
  hx_map[14]='e'
  hx_map[15]='f'

  if num > 15 :
    dec2hx(num // 16)
  return(hx_map[num % 16])

In [37]:
for i in range(1,129,4):
  print(f"Hex of {i} is XX-{dec2hx(i)}")
  print(f":::: Using Built in function TALLY==Hex of {i} is {hex(i)} ::::")

Hex of 1 is XX-1
:::: Using Built in function TALLY==Hex of 1 is 0x1 ::::
Hex of 5 is XX-5
:::: Using Built in function TALLY==Hex of 5 is 0x5 ::::
Hex of 9 is XX-9
:::: Using Built in function TALLY==Hex of 9 is 0x9 ::::
Hex of 13 is XX-d
:::: Using Built in function TALLY==Hex of 13 is 0xd ::::
Hex of 17 is XX-1
:::: Using Built in function TALLY==Hex of 17 is 0x11 ::::
Hex of 21 is XX-5
:::: Using Built in function TALLY==Hex of 21 is 0x15 ::::
Hex of 25 is XX-9
:::: Using Built in function TALLY==Hex of 25 is 0x19 ::::
Hex of 29 is XX-d
:::: Using Built in function TALLY==Hex of 29 is 0x1d ::::
Hex of 33 is XX-1
:::: Using Built in function TALLY==Hex of 33 is 0x21 ::::
Hex of 37 is XX-5
:::: Using Built in function TALLY==Hex of 37 is 0x25 ::::
Hex of 41 is XX-9
:::: Using Built in function TALLY==Hex of 41 is 0x29 ::::
Hex of 45 is XX-d
:::: Using Built in function TALLY==Hex of 45 is 0x2d ::::
Hex of 49 is XX-1
:::: Using Built in function TALLY==Hex of 49 is 0x31 ::::
Hex of 53 is XX-5
:::: Using Built in function TALLY==Hex of 53 is 0x35 ::::
Hex of 57 is XX-9
:::: Using Built in function TALLY==Hex of 57 is 0x39 ::::
Hex of 61 is XX-d
:::: Using Built in function TALLY==Hex of 61 is 0x3d ::::
Hex of 65 is XX-1
:::: Using Built in function TALLY==Hex of 65 is 0x41 ::::
Hex of 69 is XX-5
:::: Using Built in function TALLY==Hex of 69 is 0x45 ::::
Hex of 73 is XX-9
:::: Using Built in function TALLY==Hex of 73 is 0x49 ::::
Hex of 77 is XX-d
:::: Using Built in function TALLY==Hex of 77 is 0x4d ::::
Hex of 81 is XX-1
:::: Using Built in function TALLY==Hex of 81 is 0x51 ::::
Hex of 85 is XX-5
:::: Using Built in function TALLY==Hex of 85 is 0x55 ::::
Hex of 89 is XX-9
:::: Using Built in function TALLY==Hex of 89 is 0x59 ::::
Hex of 93 is XX-d
:::: Using Built in function TALLY==Hex of 93 is 0x5d ::::
Hex of 97 is XX-1
:::: Using Built in function TALLY==Hex of 97 is 0x61 ::::
Hex of 101 is XX-5
:::: Using Built in function TALLY==Hex of 101 is 0x65 ::::
Hex of 105 is XX-9
:::: Using Built in function TALLY==Hex of 105 is 0x69 ::::
Hex of 109 is XX-d
:::: Using Built in function TALLY==Hex of 109 is 0x6d ::::
Hex of 113 is XX-1
:::: Using Built in function TALLY==Hex of 113 is 0x71 ::::
Hex of 117 is XX-5
:::: Using Built in function TALLY==Hex of 117 is 0x75 ::::
Hex of 121 is XX-9
:::: Using Built in function TALLY==Hex of 121 is 0x79 ::::
Hex of 125 is XX-d
:::: Using Built in function TALLY==Hex of 125 is 0x7d ::::

# Debugging

# Class and OOP